[submodule "Ixian-Core"]
	path = Ixian-Core
	url = https://github.com/ixian-platform/Ixian-Core.git
	branch = development
[submodule "Ixian-Docs"]
	path = Ixian-Docs
	url = https://github.com/ixian-platform/Ixian-Docs.git
[submodule "QuIXI"]
	path = QuIXI
	url = https://github.com/ixian-platform/QuIXI.git
[submodule "Spixi"]
	path = Spixi
	url = https://github.com/ixian-platform/Spixi.git
[submodule "home-assistant-android"]
	path = Spoke/home-assistant-android
	url = https://github.com/home-assistant/android
