@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff2') format('woff2'),
    url('../fonts/Inter-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/InterDisplay-SemiBold.woff2') format('woff2'),
    url('../fonts/InterDisplay-SemiBold.woff') format('woff');
    font-weight: semibold;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.woff2') format('woff2'),
    url('../fonts/Inter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  background: radial-gradient(54.59% 54.59% at 50% 45.41%, #182735 0%, #0B1013 80.77%);
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  text-align: center;
    
  background-size: 200% 200%;
  animation: gradientShift 10s ease infinite;
}

.background-pattern {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.background-pattern img {
  width: 420px;
  height: auto;
  animation: spin 90s linear infinite;
}

.background-pattern.top {
  top: -300px;
}

.background-pattern.bottom {
  bottom: -300px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.content {
  box-sizing: border-box;
  max-width: 640px;
  width: 100%;
  padding: 8px 20px;
  text-align: center;
  margin: auto;
}

.logo {
  width: 40px;
  margin-bottom: 16px;
}

h1 {
  font-size: 20px;
  margin-bottom: 16px;
  color: #ffffff;
}

p {
  font-size: 14px;
  line-height: 1.5;
  color: #c4cdd5;
}


@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 30%;
  }
  100% {
    background-position: 0% 50%;
  }
}